@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);

/* Hampshire Colors:
 *
 * #F7B245 <- Orange
 * #FC4A55 <- Pink
 * #AE87B9 <- Purple
 * #7BC7C7 <- Blue
 * #E0EC5B <- Yellow
 * 
 * #2A2727 <- Dark Grey
 */

.btn-hack-hamp {
	background-color:transparent;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:roboto;
	font-size:32px;
	font-weight:300;
	padding:13px 32px;
	text-decoration:none;
	width: 100%;
	margin-bottom: 10px;
}