body {
	background: #F7B245;
	padding:0px;
	margin:0px;
}

#header {
	text-align: center;
	color: white;
	
	position: fixed;
	width:100%;
	top:30%;
}

#header h1 {
	font-size: 7em;
	font-family: roboto;
	font-weight: 300;
}

#header h3 {
	font-family: roboto;
}

#header p {
	font-family: roboto;
}

.dynamicText span {
	font-size:2.5em;
    font-family: roboto;
}

#btn-containter {
	margin-top:30px;
}

.btn-hack-hamp {
	background-color:transparent;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
}
.btn-hack-hamp:hover {
	background-color:transparent;
	
	-ms-transform: translate(0px,-2px); /* IE 9 */
    -webkit-transform: translate(0px,-2px); /* Safari */
    transform: translate(0px,-2px);
}
.btn-hack-hamp:active {
	position:relative;
	top:1px;
}
